<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
head
    
    style.
        p{
            color: red ;
            text-decoration: underline ;
        }
        .container4{
            margin: 0 ;
            position: absolute ;
            top: 50% ;
            left: 50% ;
            margin-right: -50% ;
            transform: translate(-50%, -50%) ;
            border-style: groove ;
            border-width: 10px 10px ;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            
        }
        .button{
            padding:5px 15px; 
            background:#ccc; 
            border:0 none;
            cursor:pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            text-align: center; 
        }
        .box_ID{
            text-align: right; 
        }
        .button_ID{
            text-align: center; 
        }
        



<!------------>


<div class="container4" >
 

    <form class="box" name="login" action="/admin/login" method=post>
    <div class="box_ID">
          <label for="inputID">ID</label>
          <input type="text" name="ID"  required>
    </div>
    <div>
          <label for="inputID">password</label>
          <input type="password" name="Password" placeholder="รหัสผ่าน" required>
    </div>
    <br>
    <div class="button_ID">
    <input class="button" type=submit value="เข้าสู่ระบบ" >
    </div>
          

</div>

<div class="container">
if loginFail
    <div class="alert alert-danger" role="alert" id="fail-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>ผิดพลาด!</strong> username หรือ passwordไม่ถูกต้อง
    </div>

</div>

