<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<!------------------------------------------------>
<head>
    
    style.
        .footer {
          color:white;
          width: 100%;
          padding: 0 0;
          margin: 0;
          font-size: 12px;
          background-color: #222;
          overflow-x: hidden;
  
        }      
        .font-call-center{
          color: #e96514;
        }
        .logo{
          padding-top:10%;
          border-left:20%;
        }
</head>






<div class="footer">
<div class="row">
<div class="col-md-3" style="text-align: right; padding-bottom:10px;">
  <div class="logo"><a href="http://localhost:1000/">
    <img src="logo.png" style='width:150px; height:150px;'></a>
  </div>
</div>
<div class="col-md-5">
  <div class="addr"><strong>บริษัท ซีเอ็สทรานสปอร์ต (ประเทศไทย) จำกัด (มหาชน)</strong>
  p 1 ซอย ฉลองกรุง 1 แขวง ลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร 10520 ประเทศไทย 
    <div class="linkArea"><span class="font-call-center">Call Center</span> <span class="font-call-center" style="font-size:16px; font-weight:bold;">555</span>
    </div>
  <a href="https://www.facebook.com/kmitlofficial/" target="_blank"><img src="https://th.kerryexpress.com/th/img/footer/icon_fb.png"></a>
  </div>
</div></div></div>